body {
    background: rgb(5, 5, 5);
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

@font-face {
    font-family: 'Miama';
    src: url('../css/fontStyle/Miama-Regular.ttf') format('truetype');
}




/* shared style */
.container {
    width: 90%;
    margin: 4rem auto;
    color: white;
}

.primary-header {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);

}

.primary-text {
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.8rem;
}

.primary-btn {
    width: 14rem;
    height: 3.3rem;
    padding: 0.7rem 1.2rem;
    border-radius: 2.62rem;
    background: rgb(230, 83, 60);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-btn {
    background: black;
    box-sizing: border-box;
    border: 1px solid white;
}

/* navbar */
.nav-banner-container {
    background-image: linear-gradient(to bottom, #000000, #161616, #252525, #353535, #454546, #454546, #454546, #454546, #353535, #252525,
            #161616, #000000);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: auto 6rem;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-right: 6.5rem;
}

.nav-content h2 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav-content p {
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}

.nav-options p:hover {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: rgb(230, 83, 60);
    font-weight: 800;
}

/* banner-section */
.banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin: auto 100px;
    color: white;
}

.banner-info h2 {
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    margin-bottom: 1.75rem;
}

.banner-info .styled-text {
    font-family: 'Miama', cursive;
    letter-spacing: 2px;
    font-size: 4.3rem;
    font-weight: 400;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    z-index: 1;
}

.banner-info p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1.75rem;
}

.banner-info .btn-container {
    display: flex;
    gap: 14px;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    width: 100%;
    height: 36.2rem;
    object-fit: contain;
    position: relative;
}

.banner-img .img-box1 h4, p,
.img-box2 h4, p {
    background: none;
    margin: 0;
    padding: 0;
    color: inherit;
}

.banner-img .img-box1 {
    position: absolute;
    left: 68rem;
    top: 16rem;
    width: 185px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    color: white;
}

.banner-img .img-box1 h4 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
}

.banner-img .img-box1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
    margin: 0;
}

.banner-img .img-box2 {
    position: absolute;
    left: 740px;
    top: 550px;
    width: 206px;
    height: 96px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-img .img-box2 .dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    flex-shrink: 0;
    position: relative;

}

.dot i {
    font-size: 13px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.banner-img .img-box2 .text-info {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner-img .img-box2 .text-info h4 {
    font-weight: 900;
    font-size: 24px;
    margin: 0;
    line-height: 1;
}

.banner-img .img-box2 .text-info p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

/* change-habit-section */
.habit-section {
    text-align: center;
    margin-bottom: 3.6rem;
}


.exercise-info {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2.5rem;
}

.exercise-details {
    width: 231px;
    height: 275px;
    text-align: center;
}

.exercise-details img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.exercise-details h3 {
    font-size: 18px;
    color: white;
}


/* run-mile-section */
.run-mile-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    margin: 3rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-mile-info {
    margin: auto 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    text-align: left;

}

.run-mile-info h1 {
    margin: 0;
}

.run-mile-img {
    margin: 2rem;
    text-align: center;

}

.run-mile-img img {
    width: 22.8rem;
    height: 19.5rem;
    border-radius: 18px;
}